{% extends 'orders/base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block title %}
Home - Pinocchios Pizza & Subs
{% endblock %}

{% block content %}
<nav class="navbar navbar-light sticky-top bg-light">
  <div class="container col">
    <a class="navbar-brand" href="/">
      <img src="{% static 'orders/logo2.png' %}" width="auto" height="55" class="d-inline-block align-top" alt="" loading="lazy">
    </a>
  </div>

  <div class="container col-2 col-md-3 col-lg-3 col-xl-2">
    <a href="#" class="cart position-relative d-inline-flex" aria-label="View your shopping cart">
      <i class="fas fa fa-shopping-cart fa-lg"></i>
      <span class="cart-basket d-flex align-items-center justify-content-center">0</span>
    </a>
    <div class="dropdown">
      <button id="user-icon-button" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20"><i class='fas fa-user-circle'></i></button>
      <div class="dropdown-menu pull-right" style="right: 0; left: auto;">
        <h6 class="dropdown-header">Hello {{username}}</h6>
        <a class="dropdown-item" href="#">Your orders</a>
        <a class="dropdown-item " href="/logout">Logout</a>
      </div>
    </div>

  </div>


</nav>
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="my-2">Our Menu</h1>
    <p class="lead text-muted my-2">
      Noch's has been in business for over 50 years.<br> We've been feeding Harvard and the surrounding area since 1966,<br>
      We sell award-winning sicilian-style pizza and mouth-watering steak subs!
    </p>
  </div>
</section>
<section id="menu">
  <div class="container">
    {% for c in categories %}
    <h1 class="py-5"><strong>{{c.name}}</strong></h1>

    <div class="card-deck">
      {%for p in c.products%}
      <div class="product-box col-12 col-sm-6 mb-4 h-100">
        <div class="card" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-4">
              <img src="{{ p.image.url }}" width="150" height="150" class="card-img">
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 class="card-title"><strong>{{p.name}}</strong></h5>
                <div style="height:60px">
                  <p class="card-text text-muted">{{p.description}}</p>
                </div>
                <div class="row">
                  <p class="card-text col-8"><strong>$ {{p.smallPrice|floatformat:2}} - {{p.largePrice|floatformat:2}}</strong></p>
                  <button style="margin-bottom:0;" class="col-4 btn btn-primary button" data-product="{{p.id}}" data-toggle="modal" data-target="#staticBackdrop">Add</button>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>


    {% endfor %}
  </div>
</section>
<!-- Modal Section (PopUp for the add to cart form)-->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div style="border-radius:15px"class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <img src="{% static 'orders/logo.png' %}" class="col-12">
          </div>
          <div class="col-6">
            <h3>Cheese - Regular Pizza</h3>
            <p class="text-muted">gsageefhfdhdfhdh</p>
            <hr>
            <br>
            <h5>Select the size: <small class="text-muted">(Mandatory)</small></h5>
            <hr>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                Small $12.76
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                Large $13.67
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary button">Add to cart</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
