html,
body {
  height: 100%;
  background-color: #eeeeee;
}

.navbar {
  border-bottom : 1px solid #e5edef;
}

.link {
  color : #cb2d3e;
}

.link:hover {
  color : #ef473a;
}

.signin {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin, .form-signup {
  width: 100%;
  max-width: 360px;
  padding: 15px;
  margin: auto;
}

.form-signin, .form-signup .checkbox {
  font-weight: 400;
}

.form-signin, .form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin, .form-signup .form-control:focus {
  z-index: 2;
}

.form-signin input[placeholder="Username"], .form-signup input[placeholder="Username"] {
  margin-bottom: -1px;
  border-radius: 15px 15px 0 0;
}

.form-signin input[placeholder="Password"] {
  border-radius: 0 0 15px 15px;
}

.form-signup input[placeholder="Password confirmation"] {
  border-radius: 0 0 15px 15px;
}

.form-signup input{
  margin-bottom: -1px;
  border-radius: 0;
}

btn-round-lg {
  border-radius: 20px;
  background-color: #1f6d5c;
  border-color: #1f6d5c;
}

.btn-round-lg:hover {
  background-color: #5B86E5;
  border-color: #5B86E5;
}

.button {
  border-radius: 15px;
  background: linear-gradient(to right, #cb2d3e, #ef473a);
  border-color: #cb2d3e;
  margin-bottom: 10px;
}

.button:hover {
  background: linear-gradient(to right, #cb2d3e, #ef473a);
  border-color: #cb2d3e;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}

.badge {
  padding-left : 9px;
  padding-right : 9px;
  -webkit-border-radius : 9px;
  -moz-border-radius : 9px;
  border-radius : 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

#lblCartCount {
  font-size : 12px;
  background : #ff0000;
  color : #fff;
  padding : 0 5px;
  vertical-align : top;
  margin-left : -10px;
}

.badge:after{
  content : attr(value);
  font-size : 15px;
  background : #cb2d3e;
  border-radius : 100%;
  padding : 3px;
  position : relative;
  left : -8px;
  top : -10px;
  opacity : 0.95;
  color : #eee;
}

a.cart:hover {
  text-decoration: none;
  color: #cb2d3e;
}

a.cart {
  font-size: 1.5rem;
  color: #343a40;
  margin: 15px;
}

.cart-basket {
  font-size: .6rem;
  position: absolute;
  top: -6px;
  right: -5px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: #cb2d3e;
  border-radius: 50%;
}
